{% extends "base.html" %}
{% block content %}

<style>

  body{
    background-image: url('../static/wallpapertip_wallpaper-for-walls_40965.jpg');
    background-repeat: no-repeat;
    position: center;
    background-size: cover;
    z-index: 1;
  }

  h1{
    color: #0096C7;
  }

  .jumbotron{
    background-color: #CAF0F8;
    color: #03045E;
  }

  .container{
    border-radius: 16px;
    background-color: #CAF0F8;
  }

  .form-group{
    color: #03045E;
  }

</style>

<body>

<div class="jumbotron">
  <div align='center'>
    <h1>Welcome Back,  {{current_user.username}}!</h1>
    <img align='center' src="{{ url_for('static', filename='profile_pics/default_img.png') }}">
    <p>{{ current_user.email }}</p>
  </div>
</div>
<div class="container">
  <form  method="POST" action = "" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.username.label(class="form-group") }}
      {{form.username(class='form-control')  }}
    </div>
    <div class="form-group">
      {{ form.email.label(class="form-group") }}
      {{form.email(class='form-control')  }}
    </div>
    <div class="form-group">
      {{ form.picture.label(class="form-group") }}
      {{ form.picture(class="form-control-file") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
</body>
</div>

{% endblock content %}
